@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h3>Welcome to my frisbee golf website</h3>
<p>Hope you like this site.</p>
<p>If you have any comments or questions please send me a message.</p>
<p>Best regards, Jakob/Kobbi <a href="http://www.facebook.com/kobbi">facebook.com/kobbi</a>.</p>