@{
    ViewBag.Title = "Folferine";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <h2>Frisbee golf score tracker</h2>
</div>

<p>
    This site is all about playing frisbee golf so create a @Html.ActionLink("new game", "Create", "Game") and start playing!
</p>

